<div>
  <h1>Calculator</h1>
</div>

<table>
    <tr class="row-one">
        <td class="data-output">{{onDisplay}}</td>
    </tr>
    <tr class="row-two">
        <td onclick={{action "clickAC"}} class="data-one" id="ac">AC</td>
        <td onclick={{action "plusMinus"}} class="data-one" id="plus-minus">+/-</td>
        <td onclick={{action "percent"}} class="data-one" id="percent">%</td>
        <td onclick={{action "divide"}} class="data-one" id="divide">รท</td>
    </tr>
     <tr class="row-three">
        <td onclick={{action "seven"}} class="data-two" id="seven">7</td>
        <td onclick={{action "eight"}} class="data-two" id="eight">8</td>
        <td onclick={{action "nine"}} class="data-two" id="nine">9</td>
        <td onclick={{action "multiply"}} class="data-two" id="x">x</td>
    </tr>
     <tr class="row-four">
        <td onclick={{action "four"}} class="data-three" id="four">4</td>
        <td onclick={{action "five"}} class="data-three" id="five">5</td>
        <td onclick={{action "six"}} class="data-three" id="six">6</td>
        <td onclick={{action "subtract"}} class="data-three" id="minus">-</td>
    </tr>
     <tr class="row-five">
        <td onclick={{action "one"}} class="data-four" id="one">1</td>
        <td onclick={{action "two"}} class="data-four" id="two">2</td>
        <td onclick={{action "three"}} class="data-four" id="three">3</td>
        <td onclick={{action "add"}} class="data-four" id="plus">+</td>
    </tr>
     <tr class="row-six">
        <td onclick={{action "zero"}} class="data-five" id="zero">0</td>
        <td onclick={{action "decimal"}} class="data-five" id="decimal">.</td>
        <td onclick={{action "equals"}} class="data-five" id="equals">=</td>
    </tr>
</table>

{{yield}}