{{!-- <nav>
    {{#link-to 'themes'}} Themes {{/link-to}}
</nav> --}}

<div>
  <h1>Calculator</h1>
</div>

<table>
    <div class="output-container">
        <tr class="row-one">
            <td class="data-output">{{onDisplay}}</td>
        </tr>
    </div>
    <tr class="row-two">
        <td onclick={{action "clickAC"}} class="data-one" data-action="clear" id="ac">AC</td>
        <td onclick={{action "plusMinus"}} class="data-one" id="plus-minus">+/-</td>
        <td onclick={{action "percent"}} class="data-one" id="percent">%</td>
        <td onclick={{action "operator"}} class="data-one operator" data-action="operator" id="divide">รท</td>
    </tr>
     <tr class="row-three">
        <td onclick={{action "numbers"}} class="data-two" data-action="number" id="seven">7</td>
        <td onclick={{action "numbers"}} class="data-two" data-action="number" id="eight">8</td>
        <td onclick={{action "numbers"}} class="data-two" data-action="number" id="nine">9</td>
        <td onclick={{action "operator"}} class="data-two operator" data-action="operator" id="multiply">x</td>
    </tr>
     <tr class="row-four">
        <td onclick={{action "numbers"}} class="data-three" data-action="number" id="four">4</td>
        <td onclick={{action "numbers"}} class="data-three" data-action="number" id="five">5</td>
        <td onclick={{action "numbers"}} class="data-three" data-action="number" id="six">6</td>
        <td onclick={{action "operator"}} class="data-three operator" data-action="operator" id="minus">-</td>
    </tr>
     <tr class="row-five">
        <td onclick={{action "numbers"}} class="data-four" data-action="number" id="one">1</td>
        <td onclick={{action "numbers"}} class="data-four" data-action="number" id="two">2</td>
        <td onclick={{action "numbers"}} class="data-four" data-action="number" id="three">3</td>
        <td onclick={{action "operator"}} class="data-four operator" data-action="operator" id="plus">+</td>
    </tr>
     <tr class="row-six">
        <td onclick={{action "numbers"}} class="data-five" data-action="number" id="zero">0</td>
        <td onclick={{action "decimal"}} class="data-five" data-action="decimal" id="decimal">.</td>
        <td onclick={{action "equals"}} class="data-five" data-action="equals" id="equals">=</td>
    </tr>
</table>

{{yield}}